@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Kursa Hoşgeldiniz</p>

   @* Link koyma butonu 'asp-action'*@

    <a asp-action="BilgiFormu">Bilgileriniz için tıklayınız.</a>


</div>
